<mat-card>
  <mat-card-content>

    <div class="row">
        <div class="col-12">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a class="breadcrumb-item" routerLink="/pharmas" routerLinkActive="active">Pharmas</a>
                <a class="breadcrumb-item active">Pharma Detail</a>
            </nav>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col-12 text-right">
            <button mat-raised-button color="primary" routerLink="/edit-pharma/{{PharmaId}}" matTooltip="Edit">EDIT</button>            
        </div>
    </div>

    <mat-card class="custom-inner-card-shadow">        
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="font-weight-bold">Pharma detail : <i>{{Pharma.Name}}</i></h3>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <label class="ml-3">Name :</label>
                        </div>
                        <div class="col-6">
                            <label>{{Pharma.Name}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            <label class="ml-3">Description :</label>
                        </div>
                        <div class="col-6">
                            <label>{{Pharma.Description}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            <label class="ml-3">Address1 :</label>
                        </div>
                        <div class="col-6">
                            <label>{{Pharma.Address.Address1}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            <label class="ml-3">Address 2 :</label>
                        </div>
                        <div class="col-6">
                            <label>{{Pharma.Address.Address2}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">          
                        <div class="col-6">
                            <label class="ml-3">City :</label>
                        </div>
                        <div class="col-6">
                            <label>
                                {{Pharma.Address.City}}
                            </label>                    
                        </div>
                    </div>
                    <hr/>
                    <div class="row">                          
                        <div class="col-6">
                            <label class="ml-3">State :</label>
                        </div>                
                        <div class="col-6">
                            <label>
                                {{Pharma.Address.State}}
                            </label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">          
                        <div class="col-6">
                            <label class="ml-3">Country :</label>
                        </div>                
                        <div class="col-6">
                            <label>{{Pharma.Address.Country}}</label>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">                          
                        <div class="col-6">
                            <label class="ml-3">Zipcode</label>    
                        </div>                
                        <div class="col-6">
                            <label>{{Pharma.Address.Zipcode}}</label>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3 class="font-weight-bold">Actions</h3>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <a class="ml-3" routerLink="/pharmas-users/{{PharmaId}}" routerLinkActive="active">View Users</a>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="ml-3" routerLink="/add-pharma-user/{{PharmaId}}">Add Users</a>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="ml-3" href="#">View Stock</a>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="ml-3" href="#">Request Stock</a>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>            
        </mat-card-content>
    </mat-card>            
  </mat-card-content>

</mat-card>