<mat-card>
  <mat-card-content>
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumb">
              <a class="breadcrumb-item" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>            
              <a class="breadcrumb-item active">Pharmas</a>
            </nav>
        </div>
      </div>
    
      <div class="mat-elevation-z8 table-responsive" *ngIf="dataSource">
        <mat-table class="table" #table [dataSource]="dataSource" matSort aria-label="Elements">
      
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Name}}</mat-cell>
          </ng-container>        
          <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Description}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Address.Address1}}, {{row.Address.Address2}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="City">
            <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Address.City}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="State">
            <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Address.State}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.Address.Country}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="View(row._id)"
                matTooltip="View Detail">
                  <mat-icon>visibility</mat-icon>
              </button>          
              <button mat-icon-button color="primary" (click)="Edit(row._id)"
                matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
              </button>         
              <button mat-icon-button color="primary" (click)="Delete(row)"
                matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
              </button>           
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
        <mat-paginator #paginator
          [length]="dataSource.data.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
      </div>
  
      <div style="width: 100%; text-align: right; padding-top: 2%;">
        <button mat-mini-fab color="primary" (click)="Create()" 
          matTooltip="Create" style="width:50px; height: 50px;">
          <mat-icon>add</mat-icon>
        </button>
      </div> 
  </mat-card-content>
</mat-card>

